{% extends 'posts/home.html' %}
{% load static %}
{% load urlify %}

{% block title %}
    List | {{ block.super }}
{% endblock title %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'posts/image_responsive.js' %}"></script>
{% endblock script %}

{% block tabs_categoryes %}
    {% include 'posts/tabs_categoryes.html' with category=category %}
{% endblock tabs_categoryes %}


{% block content %}

<div class="col-sm-8 col-sm-offset-2">

<div class="row">
{% for post in queryset %}
    <div class="col-sm-6">
        <div class="thumbnail">
            {% if post.image %}
                <img src="{{ post.image.url }}" class="img-responsive">
            {% endif %}
            <div class="caption">
                <h1><a href="{{ post.get_absolute_url }}">{{ post|truncatechars:15 }}</a><br><small>{{ post.timestamp|timesince }} тому</small></h1>
                <p>Рейтинг: {{ post.rating|star }}</p>
                {% if post.user.get_full_name %}<p>Автор: {{ post.user.get_full_name }}</p>{% endif %}
                {{ post.get_markdown_safe|truncatewords_html:3 }}<br>
                <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">Детальніше</a></p>
            </div>
        </div>
    </div>
    {% cycle "" "<div class='col-sm-12'><hr/></div></div><div class='row'>" %}
{% endfor %}

</div>
    {% include 'posts/paginator.html' %}
</div>
{% endblock content %}